@import 'normalize.css';

body {
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
  color:#333;
  background:url("../images/background.jpg") #eee;
}

h2 {
  margin-top: 0;
}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; text-decoration:none;}
a:hover { color: #036; }

ul#donate, ul#sponsors {
  list-style-type: none;
  padding-left: .5em;
  margin-left: .5em;
}

ul#donate li {
  margin-bottom: 1em;
}

.block {
  margin:0 auto 1rem auto;
  padding:2em;
  max-width:70em;
  background:#fff;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  border-radius: 5px;
  border:1px solid #ccc;
  background: #fafafa;
}

header#title {
  background:#369;
  color:#eee;
  margin:0 0 2rem 0;
  padding:.5em;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
}

#browsers {
  width:90%;
  margin:0 auto;
}

.logo-list a {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: center;
  width: 8rem;
  margin: 0 .5rem .5rem 0;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  border-radius: 3px;
  background: #fafafa;
}

.logo-list a:hover {
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0,0,0,.2)
}

.logo-list a:active {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  background: #e5e5e5;
}

.logo-list a img {
  display: block;
  margin: 0 auto .5rem;
  height: 80px;
  width: auto;
}

.logo-list a span {
  display: block;
}

.logo {
  height:5em;
  width:5em;
  margin-right:1em;
}

#submitbutton {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

header#title > div {
  display: inline-block;
  width: 24rem;
}

header#title h1,
header#title p {
  margin: .5rem 0;
}

#eu-horizon {
  float: right; 
  width: 240px; 
  margin: .8rem 0;
}

textarea {
  width: 40em;
  height: 5em;
  max-width: 90%;
}


@media screen and (max-width: 660px) {
  header > div img {
    display: none;
  }
  header#title > div {
    width: 18rem;
  }
  .block {
    margin: 1rem;
  }
}
